﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/compareCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/compare")
    

    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <form>
                <div class="form-group row">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <h4>Base text</h4>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse... <input id="file1" type="file" style="display: none;">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <span class="help-block">
                            Try selecting one file watch the feedback
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <h4>New text</h4>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse... <input type="file" id="file2" style="display: none;">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <span class="help-block">
                            Try selecting one file watch the feedback
                        </span>
                    </div>
                </div>
            </form>
            <button class="btn btn-success compareBtn" >Compare...</button>
        </div>
        <hr/>
        <div id="diffoutput"> </div>
    </div>
    
</body>
</html>
